.awc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 800px;
  min-height: 490px;
  position: relative;
  text-align: center;
  margin: 30px 0;
}

@media (min-width: 500px) {
  .awc {
    max-width: 1000px;
  }
}

.outline {
  position: relative;
  z-index: 3;
  background: transparent;
  color: #1172c4;
  font-size: 14px;
  border-color: #1172c4;
  border-style: solid;
  border-width: 2px;
  border-radius: 22px;
  padding: 10px 40px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.outline:hover {
  color: white;
  background: #1172c4;
  border-color: white;
  transition: all 0.2s linear;
}
.outline:active {
  border-radius: 22px;
}
.purple-white {
  font-weight: 700;
  color: #664e96;
  border-color: #664e96;
  background: transparent;
}
.purple-white:hover {
  color: white;
  background: #664e96;
  border-color: #664e96;
}
