.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 500px;
  max-width: 800px;
  min-height: 490px;
  position: relative;
  text-align: center;
  margin: 30px 0;
  background: #151f2e;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: ease-in-out 1s;
}

.pic-container {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  margin: 40px auto 20px;
}
.pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  position: relative;
  top: 5px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.name {
  color: #fff;
  margin: 20px;
  font-family: "Montserrat";
  letter-spacing: 2px;
}
.title {
  color: #3d77c2;
  font-size: 14px;
  padding: 8px;
  font-family: "Montserrat";
}
.description {
  font-size: 12px;
  font-weight: 300;
  padding: 10px 22px;
  color: #9fadbd;
  font-family: "Montserrat";
}

.message {
  font-size: 20px;
  background: -webkit-linear-gradient(to right, #1da1f2, #0088ff);
  background: linear-gradient(to right, #1da1f2, #0088ff);
  /* box-shadow: 0 0 20px 4px #ffffff, 0 0 20px 0px #0088ff; */
  border-radius: 32px;
  padding: 10px 50px;
  margin: 16px auto;
  cursor: pointer;
  max-width: 200px;
}
.points {
  color: white;
}

@media (min-width: 500px) {
  .card {
    width: 1000px;
    max-width: 1000px;
  }
}
