@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  background: #da22ff;
  background: -webkit-linear-gradient(to bottom, #485563, #29323c);
  background: linear-gradient(to bottom, #485563, #29323c);
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: white;
}

hr.solid {
  width: 100%;
  border-top: 2px solid #999;
}

/* ================================ Global Gallery=================================== */
.gallery {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.gallery-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 51.7%;
}

.gallery-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 48.3%;
}

.image-row {
  display: flex;
  justify-content: space-evenly;
}

.image-genre {
  max-width: 20%;
  margin: 10px;
}

.image-mastery {
  max-width: 43%;
  margin: 10px;
}

@media (min-width: 500px) {
  .card {
    width: 1000px;
    max-width: 1000px;
  }
}

@media (max-width: 800px) {
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .gallery-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .gallery-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .image-mastery {
    max-width: 75%;
  }

  .desktop {
    display: none;
  }
}

/* ====================================  Kusogaki =============================== */

.kuso-logo {
  max-width: 400px;
  width: 100%;
}

.image-kuso {
  max-width: 25%;
  margin: 10px;
}

.gallery-kuso {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
}

@media (max-width: 800px) {
  .gallery-kuso {
    width: 100%;
  }

  .image-kuso {
    margin: 5px;
  }
}
